src/conf/xml-resources/web-service-references/PrologCatalogservice/wsdl/localhost_8080/SoapWebService/PrologCatalogservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.TestCatalog.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.TestCatalog.com">

<xs:element name="Product" type="tns:product"/>

<xs:element name="addProduct" type="tns:addProduct"/>

<xs:element name="addProductResponse" type="tns:addProductResponse"/>

<xs:element name="getCatalogCategories" type="tns:getCatalogCategories"/>

<xs:element name="getCatalogCategoriesResponse" type="tns:getCatalogCategoriesResponse"/>

<xs:element name="getProducts" type="tns:getProducts"/>

<xs:element name="getProductsResponse" type="tns:getProductsResponse"/>

<xs:element name="getProductsV2" type="tns:getProductsV2"/>

<xs:element name="getProductsV2Response" type="tns:getProductsV2Response"/>

<xs:complexType name="getProducts">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductsV2">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductsV2Response">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="ProductName" type="xs:string" minOccurs="0"/>
<xs:element name="ProductPrice" type="xs:int"/>
<xs:element name="ProductSku" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatalogCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCatalogCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProduct">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>